<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.performance.persist.dao.ScientificResearchDao" >
  <resultMap id="BaseResultMap" type="com.performance.persist.domain.ScientificResearch" >
    <id column="virtual_id" property="virtualId" jdbcType="BIGINT" />
    <result column="sci_content" property="sciContent" jdbcType="VARCHAR" />
    <result column="sci_project" property="sciProject" jdbcType="VARCHAR" />
    <result column="sci_grade" property="sciGrade" jdbcType="VARCHAR" />
    <result column="sci_score" property="sciScore" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="selectByParamsWhere">
  	<where>
  		<if test="virtualId!=null">
  			virtual_id=#{virtualId,jdbcType=BIGINT} and
  		</if>
  		<if test="sciContent!=null">
  			sci_content=#{sciContent,jdbcType=VARCHAR} and
  		</if>
  		<if test="sciProject!=null">
  			sci_project=#{sciProject,jdbcType=VARCHAR} and
  		</if>
  		<if test="sciGrade!=null">
  			sci_grade=#{sciGrade,jdbcType=VARCHAR} and
  		</if>
  		<if test="sciScore!=null">
  			sci_score=#{sciScore,jdbcType=INTEGER} and  
  		</if>
  		<if test="status!=null">
  			status=#{status,jdbcType=CHAR} and
  		</if>
  		 	1=1
  	</where>
  </sql>
  <sql id="Base_Column_List" >
    virtual_id, sci_content, sci_project, sci_grade, sci_score, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from scientific_research
    where virtual_id = #{virtualId,jdbcType=BIGINT}
  </select>
  <select id="selectListByParams" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select 
  	<include refid="Base_Column_List"></include>
  	from scientific_research
  	<include refid="selectByParamsWhere"></include>
  	<if test=" firstdata !=null and nums != null">
    	limit ${firstdata},${nums}
    </if>
  </select>
  <select id="selectCount" resultType="java.lang.Integer" parameterType="java.util.Map">
  	select count(*)
  	from scientific_research
  	<include refid="selectByParamsWhere"></include>
  </select>
  <select id="selectByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"></include>
  	from scientific_research
  	<include refid="selectByParamsWhere"></include>
  </select>
  <select id="getScore" parameterType="java.util.Map" resultType="java.lang.Integer">
  	select IFNULL(MAX(sci_score),-1) AS sci_score
  	from scientific_research
  	<include refid="selectByParamsWhere"></include>
  </select>
  <select id="getSciContent" parameterType="java.util.Map" resultType="java.lang.String">
  	select distinct sci_content
  	from scientific_research
  	<include refid="selectByParamsWhere"></include>
  </select>
  <select id="getSciProjectBySciContent" parameterType="java.util.Map" resultType="java.lang.String">
  	select distinct sci_project
  	from scientific_research
  	<include refid="selectByParamsWhere"></include>
  </select>
  <select id="getSciGradeBySciContentAndSciProject" parameterType="java.util.Map" resultType="java.lang.String">
  	select distinct sci_grade
  	from scientific_research
  	<include refid="selectByParamsWhere"></include>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from scientific_research
    where virtual_id = #{virtualId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByIdList" parameterType="java.util.List">
  	update scientific_research
  	set status="1"
  	where virtual_id in 
  	<foreach collection="list" item="id" index="index" open="(" separator="," close=")">
  		#{id,jdbcType=BIGINT}
  	</foreach> 
  </delete>
  <insert id="insert" parameterType="com.performance.persist.domain.ScientificResearch" >
    insert into scientific_research (virtual_id, sci_content, sci_project, 
      sci_grade, sci_score, status
      )
    values (#{virtualId,jdbcType=BIGINT}, #{sciContent,jdbcType=VARCHAR}, #{sciProject,jdbcType=VARCHAR}, 
      #{sciGrade,jdbcType=VARCHAR}, #{sciScore,jdbcType=INTEGER}, #{status,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.performance.persist.domain.ScientificResearch" >
    insert into scientific_research
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="virtualId != null" >
        virtual_id,
      </if>
      <if test="sciContent != null" >
        sci_content,
      </if>
      <if test="sciProject != null" >
        sci_project,
      </if>
      <if test="sciGrade != null" >
        sci_grade,
      </if>
      <if test="sciScore != null" >
        sci_score,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="virtualId != null" >
        #{virtualId,jdbcType=BIGINT},
      </if>
      <if test="sciContent != null" >
        #{sciContent,jdbcType=VARCHAR},
      </if>
      <if test="sciProject != null" >
        #{sciProject,jdbcType=VARCHAR},
      </if>
      <if test="sciGrade != null" >
        #{sciGrade,jdbcType=VARCHAR},
      </if>
      <if test="sciScore != null" >
        #{sciScore,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.performance.persist.domain.ScientificResearch" >
    update scientific_research
    <set >
      <if test="sciContent != null" >
        sci_content = #{sciContent,jdbcType=VARCHAR},
      </if>
      <if test="sciProject != null" >
        sci_project = #{sciProject,jdbcType=VARCHAR},
      </if>
      <if test="sciGrade != null" >
        sci_grade = #{sciGrade,jdbcType=VARCHAR},
      </if>
      <if test="sciScore != null" >
        sci_score = #{sciScore,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where virtual_id = #{virtualId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.performance.persist.domain.ScientificResearch" >
    update scientific_research
    set sci_content = #{sciContent,jdbcType=VARCHAR},
      sci_project = #{sciProject,jdbcType=VARCHAR},
      sci_grade = #{sciGrade,jdbcType=VARCHAR},
      sci_score = #{sciScore,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR}
    where virtual_id = #{virtualId,jdbcType=BIGINT}
  </update>
</mapper>