<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.performance.persist.dao.TeacherPerformanceDao" >
  <resultMap id="BaseResultMap" type="com.performance.persist.domain.TeacherPerformance" >
  	<id column="virtual_id" property="virtualId" jdbcType="BIGINT" />
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="project" property="project" jdbcType="VARCHAR" />
    <result column="pro_grade" property="proGrade" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="selectByParamsWhere">
  	<where>
  		<if test="virtualId!=null">
  			virtual_id=#{virtualId,jdbcType=BIGINT} and
  		</if>
  		<if test="id!=null">
  			id=#{id,jdbcType=BIGINT} and
  		</if>
  		<if test="category!=null">
  			category=#{category,jdbcType=VARCHAR} and
  		</if>
  		<if test="content!=null">
  			content=#{content,jdbcType=VARCHAR} and
  		</if>
  		<if test="project!=null">
  			project=#{project,jdbcType=VARCHAR} and
  		</if>
  		<if test="proGrade!=null">
  			pro_grade=#{proGrade,jdbcType=VARCHAR} and
  		</if>
  		<if test="status!=null">
  			status=#{status,jdbcType=CHAR} and
  		</if>
  		   	1=1
  	</where>
  </sql>
  <sql id="Base_Column_List" >
    virtual_id,id, category, content, project, pro_grade, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from teacher_performance
    where virtual_id = #{virtualId,jdbcType=BIGINT}
  </select>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
  	select 
  	<include refid="Base_Column_List" />
    from teacher_performance
    <include refid="selectByParamsWhere"></include>
  </select>
  <select id="selectListByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
    from teacher_performance
    <include refid="selectByParamsWhere"></include>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from teacher_performance
    where virtual_id = #{virtualId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.performance.persist.domain.TeacherPerformance" >
    insert into teacher_performance (virtual_id, id, category, content, 
      project, pro_grade, status
      )
    values (#{virtualId,jdbcType=BIGINT}, #{id,jdbcType=BIGINT}, #{category,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{project,jdbcType=VARCHAR}, #{proGrade,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.performance.persist.domain.TeacherPerformance" >
    insert into teacher_performance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="virtualId != null" >
        virtual_id,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="project != null" >
        project,
      </if>
      <if test="proGrade != null" >
        pro_grade,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="virtualId != null" >
        #{virtualId,jdbcType=BIGINT},
      </if>
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="project != null" >
        #{project,jdbcType=VARCHAR},
      </if>
      <if test="proGrade != null" >
        #{proGrade,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.performance.persist.domain.TeacherPerformance" >
    update teacher_performance
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="project != null" >
        project = #{project,jdbcType=VARCHAR},
      </if>
      <if test="proGrade != null" >
        pro_grade = #{proGrade,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where virtual_id = #{virtualId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.performance.persist.domain.TeacherPerformance" >
    update teacher_performance
    set id = #{id,jdbcType=BIGINT},
      category = #{category,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      project = #{project,jdbcType=VARCHAR},
      pro_grade = #{proGrade,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR}
    where virtual_id = #{virtualId,jdbcType=BIGINT}
  </update>
</mapper>