body{
	background:url(../img/login_bg_0.jpg);
}

h1.navbar-brand{
	font-size: 30px;

}
.navbar-inverse {
	background-color: #428bca;
	border-bottom: solid 2px #000;
	


}
.navbar-inverse .navbar-brand {
	color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.container {
    margin-top: 30px;
}
.infoChose{
    box-shadow: 6px 6px 5px #666;
    background-color: #fff;
    border-radius: 10px;
    

}

.infoTable tr{
	height: 120px;
	text-align: center;
	vertical-align: bottom;

}
.infoTable tr td{
	margin-top: 30px;
	font-size: 26px;
}
.infoTable tr td i{

	margin-right: 20px;
}

